  <div class="card">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.img">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <button (click)="viewHeroe()" type="button" name="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
      <!-- <a [routerLink]="['/heroe',id]" class="btn btn-outline-primary btn-block">Ver mas..</a> -->
</div>
