<h1>{{heroe.nombre}} <small>{{heroe.aparicion}}</small></h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <img [src]="heroe.img" alt="" class="img-fluid" >
    <br><br>
    <a href="heroes" class="btn btn-outline-danger btn-block">Back</a>
  </div>
  <div class="col-md-8">
    <h3>{{heroe.name}}</h3>
    <hr>
    <p>
      {{heroe.bio}}
    </p>
    <div class="">
      <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel.jpg" alt="marvel" class="img-fluid">
      <img *ngIf="heroe.casa == 'DC'" src="assets/img/dc.png" alt="dc" class="img-fluid">
    </div>
  </div>
</div>
